SUPABASE_URL=https://vpqnivwdlomonqhozyge.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZwcW5pdndkbG9tb25xaG96eWdlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAxODI1NjAsImV4cCI6MjA3NTc1ODU2MH0.X_uoSBxUs4YaQtP1Sr1-np3TFN9qqnAVdjQ-X4phKeI
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZwcW5pdndkbG9tb25xaG96eWdlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAxODI1NjAsImV4cCI6MjA3NTc1ODU2MH0.X_uoSBxUs4YaQtP1Sr1-np3TFN9qqnAVdjQ-X4phKeI